@(clientForm: Form[Client])
@import helper.twitterBootstrap._
@import helper._
@main("test") {
    
	@helper.form(action = routes.Clients.create) {
	
	    <div class="control-group">
        	<div class="controls">
				@helper.inputText(clientForm("clientId"), 'class -> "form-horizontal", '_label -> "Enter Client ID", '_help -> "")
		 	</div>
		 	<div class="controls">
				@select(
		            field = clientForm("pageType"),
			            options = options(
			                "hotel" -> "Hotel",
			                "attraction" -> "Attraction",
			                "package" -> "Package",
			                "multi" -> "Multi-Product"
			            ),
		            args = '_label -> "Choose Page Type"
		        ) 
		 	</div>
        </div>
        
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-success">Submit</button>
          </div>
        </div>
	}
    
}
